{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Study Spots at UVA</title>
    <link rel="stylesheet" href="{% static 'css/App-info.css' %}">
</head>
<body>
    <div class="content">
        <img src="{% static 'image/UVAimage.jpeg' %}" alt="UVA Campus" class="uva-image">
        <h1>Discover Your Perfect Study Spot at UVA</h1>
        <p>Welcome to the University of Virginia's ultimate resource for finding and sharing the best study spots on campus! Our interactive platform is designed for students, by students, to help you locate that ideal place where focus and creativity flourish.</p>

        <h2>Explore, Share, and Connect:</h2>
        <p>Explore: Dive into a diverse array of study spots shared by fellow Cavaliers. From quiet corners in historic libraries to scenic outdoor spaces, find your next favorite study retreat.</p>
        <p>Share: Contribute to our growing community by posting your go-to study locations. Whether it's a cozy café or a tranquil garden, your recommendations help others in their quest for the perfect study environment.</p>
        <p>Discover with Maps: Utilize our integrated Google Maps feature to visualize the exact locations of shared study spots. Easily navigate through the campus with this user-friendly tool, finding study havens near you or in unexplored parts of UVA.</p>

        <h2>Interactive and User-Friendly:</h2>
        <p>Search and Filter: Looking for a quiet spot? Need a place with Wi-Fi? Use our search and filter options to find study spots that meet your specific needs.</p>
        <p>Real-Time Updates: Stay in the loop with the latest additions and reviews from fellow students. Our platform is constantly updated, ensuring you have the most current information at your fingertips.</p>
        <p>Community Reviews and Tips: Read reviews and tips from your peers to get the inside scoop on each study location's ambiance, facilities, and more.</p>

        <h2>Join Our Community:</h2>
        <p>Become a part of a thriving community dedicated to enhancing the academic experience at UVA. Share your discoveries, exchange tips, and connect with peers over shared study spaces. Your perfect study spot awaits!</p>
    </div>
</body>
</html>