<h2 style="color: #2c3e50; font-family: 'Arial', sans-serif; text-align: center; margin-bottom: 2rem;"> Comments </h2>
{% if comments %}
    <ul style="padding: 0;">
        {% for comment in comments %}
            <li style="list-style-type: none; background: #ecf0f1; border-radius: 8px; margin-bottom: 1.5rem; padding: 1.5rem; box-shadow: 0 4px 8px rgba(0,0,0,0.06);">
                <strong style="font-weight: 700; color: #34495e;">{{ comment.poster.username }}:</strong>
                <span style="color: #7f8c8d;">{{ comment.message }}</span>
                <br>
                <small style="color: #95a5a6;">Upvotes: {{ comment.upvotes }}</small>
                {% for k,v in user_has_upvoted.items %}
                    {% if k == comment.pk %}
                        {% if v %}
                            <form method="post" style="display: inline-block; margin-top: 10px;">
                                {% csrf_token %}
                                <input type="hidden" name="comment_id" value="{{ comment.id }}">
                                <input type="hidden" name="action" value="un_upvote">
                                <button type="submit" style="background-color: #e74c3c; border: none; border-radius: 20px; padding: 5px 15px; cursor: pointer; color: white; font-size: 0.8rem; margin-left: 10px;">Un-Upvote</button>
                            </form>
                        {% else %}
                            <form method="post" style="display: inline-block; margin-top: 10px;">
                                {% csrf_token %}
                                <input type="hidden" name="comment_id" value="{{ comment.id }}">
                                <input type="hidden" name="action" value="upvote">
                                <button type="submit" style="background-color: #2ecc71; border: none; border-radius: 20px; padding: 5px 15px; cursor: pointer; color: white; font-size: 0.8rem; margin-left: 10px;">Upvote</button>
                            </form>
                        {% endif %}
                    {% endif %}
                {% endfor %}
                {% if is_user_admin %}
                    <form method="post" style="display: inline-block; margin-top: 10px;">
                        {% csrf_token %}
                        <input type="hidden" name="comment_id" value="{{ comment.id }}">
                        <input type="hidden" name="action" value="comment_delete">
                        <button type="submit" style="background-color: #3498db; border: none; border-radius: 20px; padding: 5px 15px; cursor: pointer; color: white; font-size: 0.8rem; margin-left: 10px;">Delete</button>
                    </form>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p style="text-align: center; color: #bdc3c7; font-family: 'Arial', sans-serif;"> It's awfully quiet here. Be the first to comment! </p>
{% endif %}
<form method="post" style="margin-top: 2rem; text-align: center;">
    {% csrf_token %}
    <input type="hidden" name="action" value="comment">
    <input type="hidden" name="study_spot_id" value="{{ spot.id }}">
    <input type="text" name="message" placeholder="Write a comment">
    <button type="submit" onclick="displayMessage(event)">Post Comment</button>
    <p id="possible_message" style="font-size: 20px;"></p>
    <style>
        .error-message {
            color: red;
            font-weight: bold;
            text-shadow: 0 0 10px red;
            animation: soften 2s forwards;
        }

        @keyframes soften {
            0% {
                text-shadow: 0 0 10px red;
            }
    
            90% {
                text-shadow: 0 0 5px red;
            }
    
            100% {
                text-shadow: none;
                color: inherit;
            }
        }
    </style>

    <script>
        function displayMessage(e) {
            e.preventDefault();
            var messageElement = document.getElementById("possible_message");
            var comment = document.querySelector('input[name="message"]');
            if (!comment.value.trim()) {
                messageElement.innerHTML = "Comment text field is required.";
                messageElement.classList.add("error-message");
                messageElement.style.animation = 'none';
                messageElement.offsetWidth;
                messageElement.style.animation = null;
            }
            else {
                messageElement.innerHTML = "";
                messageElement.classList.remove("error-message");
                setTimeout(function () {
                    e.target.form.submit();
                }, 500);
            }
        }
    </script>
</form>



