{% if spot.approved %}
<li class="study-spot" style="margin-bottom: 20px; list-style-type: none;">
    <a href="{% url 'users:spot' pk=spot.pk %}" style="color: #003366; display: block; margin-bottom: 10px;">{{ spot.building_name }} - Posted by: {{ spot.user_posted.username }}</a>
    <p style="color: #003366; margin-bottom: 10px;">Notes: {{ spot.notes }}</p>
    <p style="color: #003366; margin-bottom: 10px;">Likes: {{ spot.likes }}</p>
    {% for k, v in user_has_liked.items %}
        {% if k == spot.pk %}
            {% if v %}
                <form method="post" style="margin-top: 10px;">
                    {% csrf_token %}
                    <input type="hidden" name="study_spot_id" value="{{ spot.id }}">
                    <input type="hidden" name="action" value="unlike">
                    <button type="submit" style="margin-top: 10px;">Unlike</button>
                </form>
            {% else %}
                <form method="post" style="margin-top: 10px;">
                    {% csrf_token %}
                    <input type="hidden" name="study_spot_id" value="{{ spot.id }}">
                    <input type="hidden" name="action" value="like">
                    <button type="submit" style="margin-top: 10px;">Like</button>
                </form>
            {% endif %}
        {% endif %}
    {% endfor %}
    {% if is_user_admin %}
        <form method="post" style="margin-top: 10px;">
            {% csrf_token %}
            <input type="hidden" name="study_spot_id" value="{{ spot.id }}">
            <input type="hidden" name="action" value="delete">
            <button type="submit" style="margin-top: 10px;">Delete</button>
        </form>
    {% endif %}
</li>
{% endif %}
