html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

/* Offset the top of the map by the height of the navbar */
#map {
    position: absolute;
    top: 60px; /* Adjust this value to match the height of your navbar */
    bottom: 0;
    left: 0;
    right: 0;
}

/* Position the search box below the navbar */
#pac-input {
    position: absolute;
    top: 70px; /* Position it 10px below the navbar */
    left: 200px;
    z-index: 5;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
    box-shadow: 0 2px 6px rgba(0,0,0,.3);
    outline: none;
}







